@font-face {
    font-family: 'ralewaythin';
    src: url('/Polices/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('/Polices/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --Main-color: #0065FC;
    --Second-color: #DEEBFF;
    --Background-color: #F2F2F2;
}

* {
    color: black;
}
html {
    margin-left: 2%;
    margin-right: 2%;
}
body {
    font-family: 'ralewaythin';
    margin: 0;
    padding: 0;
}

div#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 5fr 4fr 2fr;
}

div.container {
    height: 100vh;
    grid-gap: 10px;
    grid-column-gap: 20px;
}

div > header {
    background-color: white;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Logo {
    width: 35%;
    margin-left: 5%;
    margin-top: 5%;
}

.BoutonHybride {
    margin-left: auto;
    font-size: 75%;
}

#bouton {
    text-decoration: none;
    margin-right: 25px;
    padding-top: 15px;
}

#bouton:hover {
    border-top: 1px var(--Main-color) solid;
    color: var(--Main-color);
    font-weight: bold;
}

div > main {
    background-color: white;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

h2 {
    font-weight: bold;
    font-size: 95%;
    margin-top: -2%;
}

h3 {
    font-size: 75%;
    font-weight: normal;
}

#rechercher {
    display: flex;
    flex-direction: row;
    margin-top: -1%;
}

#localisation {
    font-size: 131%;
    background-color: lightgray;
    border: 2px solid lightgray;
    border-width: 7px;
    border-radius: 10px 0px 0px 10px;
    height: 25px;
}

#ville {
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    border-left: solid 2px lightgray;
    border-right: none;
    height: 33px;
    margin-left: -4px;
}

.button {
    margin-top: 16px;
    height: 39px;
    background-color: var(--Main-color);
    color: white;
    border: none;
    border-radius: 0% 10% 10% 0%;
    cursor: pointer;
}

#filtres {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vh;
    font-weight: bold;
    font-size: 85%;
}

#liens {
    text-decoration: none;
    font-size: 85%;
    margin-top: 7px;
    margin-bottom: 5px;
    padding-top: 7px;
    padding-left: 2%;
    padding-right: 2%;
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    border-right: solid 2px lightgray;
    border-radius: 0% 10% 10% 0%;
}

#billet, #animaux, #familial, #romantique {
    font-size: 85%;
    text-align: center;
    color: var(--Main-color);
    background-color: var(--Second-color);
    width: 18px;
    height: 18px;
    margin-top: 0.9%;
    margin-right: -9.5%;
    padding-top: 1%;
    border: solid 2px var(--Second-color);
    border-radius: 50%;
}

.logements {
    font-size: 75%;
    word-spacing: 1px;
}

#info {
    color: var(--Main-color);
}

div > article.article1 {
    background-color: var(--Background-color);
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
    margin: 10px;
}

div > aside {
    background-color: var(--Background-color);
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 10px;
    margin: 10px;
}

div > article.article2 {
    background-color: cadetblue;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

div > footer {
    background-color: chartreuse;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
 
@media only screen 
  and (max-width: 900px) and (min-width: 376px) 
{
    div > footer {
        background-color: yellow;
    }
}

@media only screen 
  and (max-device-width: 375px) 
 {
    html {
        margin-left: 2%;
        margin-right: 2%;
    }

    div#container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #navbar {
        flex-wrap: wrap;
    }    

    .Logo {
        width: 30%;
        margin-left: 125px;
        margin-right: 125px;
    }

    .BoutonHybride {
        margin-left: 0%;
    }

    #bouton {
        border-bottom: var(--Second-color) solid 2px;
        padding-bottom: 10px;
        padding-top: 25px;
    }

    #bouton:hover {
        border-top: none;
        border-bottom: var(--Main-color) solid 2px;
        color: var(--Main-color);
        font-weight: bold;
    }

    h2, h3 {
        text-align: center;
    }

    #rechercher {
        justify-content: center;
    }

    #localisation {
        margin-right: -1%;
    }

    .button {
        margin-left: -1%;
    }
    

    #filtres {
        flex-direction: column;
        width: 55vh;
    }

    #liens {
        margin-top: -6.9%;
        margin-left: 5%;
        margin-right: 60%;
        padding-left: 5%;
        padding-bottom: 2%;
    }

    #billet, #familial, #romantique, #animaux {
        width: 22px;
        height: 22px;
        margin-bottom: -1%;
        margin-left: 1.2%;
    }

    .logements {
        font-size: 70%;
    }

    div > article.article1 {
        background-color: var(--Background-color);
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
        border-radius: 0;
    }
    
    div > aside {
        background-color: var(--Background-color);
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
        border-radius: 0;
    }
 }
