@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --Main-color: #0065FC;
    --Second-color: #DEEBFF;
    --Background-color: #F2F2F2;
}

* {
    color: black;
}
html {
    display: flex;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 992px;
}

a {
    text-decoration: none;
}

div#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr 5fr 4fr 2fr;
}

div.container {
    height: 100vh;
    grid-gap: 10px;
    grid-column-gap: 20px;
}

div > header {
    background-color: white;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 5px;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Logo {
    width: 35%;
    margin-left: 7px;
    margin-top: 7px;
}

.BoutonHybride {
    margin-left: auto;
    font-size: 12px;
}

#bouton {
    margin-right: 25px;
}

.Menubutton1, .Menubutton2 {
    width: 100px;
    padding: 39px 10px 10px 20px;
    margin-top: 10px;
}

.Menubutton1:hover, .Menubutton1:focus, .Menubutton2:hover, .Menubutton2:focus  {
    border-top: 1px var(--Main-color) solid;
    color: var(--Main-color);
    font-weight: bold;
}

div > main {
    background-color: white;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

h2 {
    font-weight: bold;
    font-size: 15px;
    margin-top: -2%;
}

h3 {
    font-size: 12px;
    font-weight: normal;
}

#rechercher {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
}

.localisation {
    font-size: 20px;
    background-color: lightgray;
    border: 2px solid lightgray;
    border-width: 7px;
    border-radius: 15px 0px 0px 15px;
    height: 25px;
}

.ville {
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    border-left: solid 2px lightgray;
    border-right: none;
    width: 165px;
    height: 33px;
    margin-left: -4px;
}

.button {
    margin-top: 16px;
    height: 39px;
    background-color: var(--Main-color);
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
}

#filtres {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

div.filter1 {
    display: flex;
    flex-direction: row;
}

.liens {
    font-size: 12px;
    font-weight: bold;
}

.billet, .familial, .romantique, .animaux {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 15px;
    padding-top: 5px;
    padding-right: 10px;
    border-top: solid 2px lightgray;
    border-bottom: solid 2px lightgray;
    border-right: solid 2px lightgray;
    border-radius: 15px;
}

.money, .family, .heart, .dog {
    font-size: 12px;
    text-align: center;
    background-color: var(--Second-color);
    color: var(--Main-color);
    width: 25px;
    height: 20px;
    border-radius: 50%;
    margin-top: -5px;
    margin-right: 15px;
    padding: 8px 0px 0px 0px;
}

.logements {
    font-size: 75%;
    word-spacing: 1px;
}

.info {
    color: var(--Main-color);
    margin-right: 5px;
}

div > article.article1 {
    background-color: var(--Background-color);
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 10px;
    margin: -20px 10px 10px 10px;
}

#hebergements {
    display: flex;
    flex-direction: column;
    width: 575px;
    height: 350px;
}

.cardshebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 300px;
    width: 570px;
    margin-top: auto;
    margin-bottom: auto;
}

.card1, .card2, .card3 {
    background-color: white;
    width: 170px;
    height: 130px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 grey;
}

.cardimage1 {
    width: auto;
}

.image1 {
    background-color: brown;
    width: 164px;
    height: 75px;
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 15px 15px 0px 0px;
}

.cardtext1 {
    width: auto;
    height: 45px;
    margin-top: -10px;
}

.descriptiontext1 {
    font-size: 12px;
    font-weight: bold;
}

.description2text1 {
    margin-top: -8px;
    font-size: 10px;
}

.card1:hover {

}

.cardimage2 {
    background-color: cadetblue;
    height: 85px;
}

.card4, .card5, .card6 {
    background-color: white;
    box-shadow: 0 0 10px 0 grey;
    width: 165px;
    height: 130px;
    margin-top: 35px;
    border-radius: 15px;
}

.afficher {
    font-weight: bold;
    font-size: 12px;
    height: 14px;
}

.afficher:hover {
    color: blue;
    font-size: 14px;
    animation-delay: 400ms;
    transform:translate(14px, 10%);
}

div > aside {
    background-color: var(--Background-color);
    padding: 20px;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 10px;
    margin: -20px 10px 10px 10px;
}

#populaire {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.cardspopulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 340px;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.cardp1, .cardp2, .cardp3 {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 95px;
    width: 220px;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 grey;
}

.cardimagep1 {
    width: auto;
}

.imagep1 {
    width: 90px;
    height: 89px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 3px;
    border-radius: 15px 0px 0px 15px;
}

.cardtextp1 {
    width: auto;
    margin-left: 5px;
}

.descriptiontextp1 {
    font-size: 12px;
    font-weight: bold;
}

.description2textp1 {
    font-size: 10px;
}

.cardp1:hover {
    width: 250px;
}

.cardimagep2 {
    width: auto;
}

.imagep2 {
    width: 90px;
    height: 89px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 3px;
    border-radius: 15px 0px 0px 15px;
}

.cardtextp2 {
    width: auto;
    margin-left: 5px;
}

.descriptiontextp2 {
    font-size: 12px;
    font-weight: bold;
}

.description2textp2 {
    font-size: 10px;
}

.cardimagep3 {
    width: auto;
}

.imagep3 {
    width: 90px;
    height: 89px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 3px;
    border-radius: 15px 0px 0px 15px;
}

.cardtextp3 {
    width: auto;
    margin-left: 5px;
}

.descriptiontextp3 {
    font-size: 12px;
    font-weight: bold;
}

.description2textp3 {
    font-size: 10px;
}

div > article.article2 {
    background-color: cadetblue;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}

div > footer {
    background-color: chartreuse;
    padding: 20px;
    grid-column-start: 1;
    grid-column-end: 3;
}
 
@media screen and (max-width: 991px) and (min-width: 768px) {

    
    div#container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    div > article.article1 {
        background-color: var(--Background-color);
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
        border-radius: 15px;
    }

    #hebergements {
        width: 690px;
        height: 350px;
    }

    .cardshebergements {
        width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
  
    div > aside {
        background-color: var(--Background-color);
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
        border-radius: 15px;
    }

    #populaire {
        height: 120px;
        width: 690px;
    }  

    .cardspopulaire {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 100px;
        width: 670px;
    }
    
}

@media screen and (max-device-width: 767px) {

    body {
        max-width: 767px;
    }
    
    div#container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    #navbar {
        display: flex;
        flex-direction: column;
    }

    .Logo {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }

    .BoutonHybride {
        margin-left: 0%;
    }

    #bouton {
        border-bottom: var(--Second-color) solid 2px;
        padding-bottom: 10px;
        padding-top: 25px;
    }

    .Menubutton1:hover, .Menubutton1:focus {
        border-top: none;
        border-bottom: 2px solid var(--Main-color);
    }

    .Menubutton2:hover, .Menubutton2:focus {
        border-top: none;
        border-bottom: 2px solid var(--Main-color);
    }

    h2, h3 {
        text-align: center;
    }

    #rechercher {
        justify-content: center;
    }

    .ville {
        width: 100px;
        height: 33px;
    }
    
    .button {
        margin-left: -1%;
    }
    

    #filtres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    div.filter1 {
        display: flex;
        flex-direction: row;
    }

    .billet {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1px;
        margin-left: 1px;
        padding-top: 5px;
        padding-right: 5px;
        width: auto;
        height: 23px;
    }

    .familial {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1px;
        margin-left: 30px;
        padding-top: 5px;
        padding-right: 5px;
        width: auto;
        height: 23px;
    }

    .romantique {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1px;
        margin-left: 1px;
        padding-top: 5px;
        padding-right: 5px;
        max-width: 125px;
        width: auto;
        height: 23px;
    }

    .animaux {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 1px;
        margin-left: 1px;
        padding-top: 5px;
        padding-right: 5px;
        max-width: 150px;
        width: auto;
        height: 23px;
    }


    .logements {
        font-size: 70%;
    }

    div > article.article1 {
        background-color: var(--Background-color);
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 0;
        height: 1000px;
        margin-top: 5px;
    }

    #hebergements {
        background-color: cornflowerblue;
        width: auto;
        height: 1000px;
    }

    .cardshebergements {
        background-color: crimson;
        display: flex;
        flex-direction: column;
        height: 920px;
        width: auto;
    }

    .card1 {
        background-color: cyan;
        width: auto; 
        height: auto;
    }

    div > aside {
        background-color: var(--Background-color);
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 3;
        margin: 0;
        border-radius: 0;
    }

    #populaire {
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }

    .cardspopulaire {
        display: flex;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
 
    .cardp1 {
        width: auto;
    }

    .descriptiontextp1 {
        font-size: auto;
    }
    
    .description2textp1 {
        font-size: auto;
    }

    .cardp2 {
        width: auto;
    }

    .descriptiontextp2 {
        font-size: auto;
    }
    
    .description2textp2 {
        font-size: auto;
    }

    .cardp3 {
        width: auto;
    }

    .descriptiontextp3 {
        font-size: auto;
    }
    
    .description2textp3 {
        font-size: auto;
    }
 }

/*
    #hebergements {
        display: flex;
        flex-direction: column;
        background-color: chartreuse;
        width: auto;
        margin-left: 0;
        margin-right: 0;
    }
    
    .cardshebergements {
        background-color: chocolate;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 20000px;
    }

    .card1 {
        background-color: cornflowerblue;
        margin-bottom: 10px;
        width: auto;
    }

    .cardimage1 {
        background-color: yellow;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .image1 {
        margin-left: 0;
    }

    .descriptiontext1 {
        font-size: auto;
    }

    .card2 {
        background-color: cornflowerblue;
        margin-bottom: 10px;
        width: auto;
        margin-left: 0;
    }
*/